@import "tailwindcss";

@theme {
	--color-primary: #c24661;
	--color-accent: #671f2f;

	--color-primary-alpha: rgba(194, 70, 97, 0.5);

	--color-neutral-dark: #353535;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	button {
		cursor: pointer;
	}

	body {
		color: var(--color-neutral-dark);
		line-height: 1.5;
	}

	img {
		width: 100%;
	}

	input:focus-within,
	textarea:focus-within {
		outline-color: var(--color-primary);
	}

	p {
		@apply leading-7;
	}
}

@layer components {
	.wrapper {
		@apply mx-auto w-11/12 max-w-[1200px];
	}

	.main-site-section {
		@apply py-12;
	}

	.btn-primary {
		@apply bg-primary rounded-md px-4 py-2 font-bold text-white;
	}

	.main-site-header {
		@apply border-primary mb-8 h-fit w-fit border-b-[0.5rem] border-dotted py-2 text-4xl font-black md:text-7xl lg:border-b-[0.75rem] lg:py-4 lg:text-8xl;
	}

	.rounded-norm {
		@apply rounded-2xl;
	}

	.space-bg {
		@apply bg-neutral-dark text-white;
	}
}

.space-bg {
	background-image: url("/planet.svg"), url("../src/lib/assets/stars.svg");
	background-repeat: no-repeat, repeat;
	background-size: 50rem, 30%;
	background-position-x: calc(100% + 10rem);
	background-position-y: -10rem;
}

@media (max-width: 1300px) {
	.space-bg {
		background-size: 40rem;
		background-position-y: calc(100% + 5rem);
	}
}

@media (max-width: 900px) {
	.space-bg {
		background-size: 30rem;
	}
}

@utility vertical-text {
	writing-mode: vertical-rl;
	text-orientation: mixed;

	rotate: 180deg;
	margin-bottom: 0;
}
